.main {
  padding: 0px 50px;
}

.main h4 {
  font-size: 30px;
  text-align: center;
}

.main ul {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 80%;
  padding: 0px;
}

.main li {
  list-style: none;
}
